<template component>
  <style>
    :host {
      display: block;
    }
  </style>
  <p>{{testContent}}</p>
  <script>
    export default async ({ load, query }) => {
      return {
        tag: "empty-component",
        data: {
          // Properties after component instantiation
          testContent: "I am Component",
        },
        attrs: {
          // Attributes of this component
        },
        proto: {
          // Methods owned by this component
          // sayHello() {
          //   console.log("Hello, I am Component");
          // },
        },
        attached() {
          // Called when the component is added to the DOM
        },
        detached() {
          // Called when the component is removed from the DOM
        },
      };
    };
  </script>
</template>
